# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
dbt-core==1.8.8
dbt-databricks
apache-airflow-providers-databricks
binance-connector==3.9.0